.inputForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    height: 200px;
    background-color: whitesmoke;
    border: grey 1px solid;
}

.messageInput{
    height: 75px;
    resize: none;
    margin: 10px;
}

.submitBtn{
    margin: 10px auto;
    border: none;
    background-color: transparent;
    font-size: 20px;
    border-radius: 25px;
    width: 200px;
    height: 50px;
}

.submitBtn:hover{
    background: linear-gradient(to right, #9a71f5, #b43bff);
    border: none;
    color: white;
    text-decoration: underline;
}

.submitBtn:focus, :active{
    outline: none;
}